*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
   /* border: 1px solid salmon;*/
    
}

:root{
    /*Home - Tabela de preços*/
   --cor01:#fff;
   --cor02:#f1f3f7;
   --cor03:#f6f6f6;
   --cor04:#a89f9f;
   --cor05:#233032;
   --cor06:#2f86d6;
   /*Tabela de preços*/
   --cor07:rgba(47, 134, 214, 1);
   
}

span{
    color: var(--cor06);
}

a{
    text-decoration: none;
    
}

ul{
    list-style: none;
}

table{
    border-collapse: collapse;
}

th,td{
    border: 1px solid var(--cor04);
    padding: 5px;
}

img{
    width: 100%;
    
}

button{
    border: none;
}

