.test{
  border: 1px solid salmon;
  position: sticky;
  top: 0;
  z-index: 1;
}

header{
   
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
  
}





nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
   
}

nav img{
  max-height: 35px;
  }



.AlterarTema{
  
  display: flex;
  align-items: center;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 25px;
   
}

.AlterarTema img{
  width: 25px;
  height: 25px;

  
  
  
}

/* teste props*/

.dark{
  background-color: var(--dark);
}

.light{
  background-color: var(--light);
}

.moon{
  border: 1px solid #1d1d1d;
}

.sun{
  border:1px solid #feb633 ;
}