/*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

.App{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

header{
  background-color: #d34040;
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #d34040;
  color: #fff;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center
}