*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    background-color: rgba(17, 17, 17, 0.927) ;
}

.topo{
    background-color: rgb(17, 17, 18);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 85px;
    padding: 0 10px;
    margin: 0 auto;
}


.topo-titulo {
    font-weight: 600;
    font-size: 28px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 
  .topo-links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .topo-links ul a li{
        padding: 10px;
  }

  .img-topo img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    cursor: pointer;
  }

  /*fim topo*/
    
  .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
  }


  .Premio{
    display: flex;
    align-items: center;
    width: 400px;
    height: 100px;
    background-color: #fff;
    margin: 10px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    gap: 10px;
  }

  .Premio img{
    max-width: 100px;
    height: 100%;
    margin-right: 10px;
    object-fit: cover;
    border-bottom-left-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
  }

  /*ganhador*/

  .ganhador{
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px ;
   
  }

  .box-ganhador{
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 400px ;
    height: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 20px;
    border-radius: 0.75rem;

   
  }

 

  .box-ganhador img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
    
  }


  /*informação*/

.info{
  background-color: #ccc;
  margin: 20px auto;
  width: 100%;

}

.todos-card{
  max-width: 80rem;
  display: flex;
  margin: 0 auto;

 
  

}

.box-info{

  flex: 1 1 0%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  padding: 20px;
  margin: 10px;
  
}

/*Rodapé*/

footer{
  width: 100%;
  padding: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}



