header{
    background-color: rgb(249, 219, 121);
    position: fixed;
    width: 100%;
    padding: 5px 20px;
   
   
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav  img{
    height: 60px;
   
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 20px;
}

nav li a{
    font-weight: 600;
    color: black;
}

@media (max-width: 436px){
    nav{
        flex-direction: column;
       
    }
    nav ul{
        width: 100%;
        border-top: 2px solid rgb(194, 168, 82);
        padding: 10px;
    }
}